body {
    overflow: hidden;
    color: white;
    background-color: #1A1818;
}

.text-grande {
    margin: 0px;
    color: white;
    padding-bottom: 30px;
}

.text {
    font-size: 25px;
    color: white;
}

.text-pequeno, .text-pequeno a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

h2 {
    margin: 2px;
}

h3 {
    font-size: 17px;
    font-weight: lighter;
}

.esquerda {
    padding-right: 700px;
    padding-top: 150px;
}

.escolas {
    padding: 100px;
}