body {
    font-family: "Cinzel", serif;
    overflow: hidden;
    color: white;
    background-color: #1A1818;
    font-family: "Montserrat", sans-serif;
}

.text-grande {
    margin: 0px;
    color: white;
}

.text {
    font-size: 17px;
    color: white;
}

.text-pequeno, .text-pequeno a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

p {
    margin: 2px;
}

.esquerda {
    padding-right: 520px;
}