body {
    color: white;
    background-color: #1A1818;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    
    overflow: hidden;

    padding: 0px;
}

.esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    margin: 4px;
}

.escrita {
    font-family: "Cinzel", serif;
    margin: 0px;

}

h1 {
    font-size: 210px;
    font-weight: 300;
    line-height: 0.7;
}

h2 {
    font-size: 20px;
}
