body {
    color: white;
    background-color: #1A1818;
    font-size: 16px;
    padding: 0px;
}

.text, .text-grande {
    color: white;
    margin: 0px;
}

.esquerda > .slow-appearance > .text-pequeno a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 210px;
    font-weight: 300;
    line-height: 0.7;
}

h2 {
    font-size: 16px;
}

.esquerda {
    padding-top: 450px;
    padding-right: 850px;
}