.text-grande {
    color: #1A1818;
    margin: 0px;
}

.text-medio {
    color: #1A1818;
    padding-top: 17px;
}

h1 {
    font-weight: 500;
    font-size: 40px;
    margin: 0px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

p, ul {
    line-height: 1,2px;
    font-size: 17px;
    margin: 0px;
    margin-bottom: 10px;
    line-height: 1.3;
}

.paragrafos {
    padding: 10px;
    padding-top: 15px;
}

.esquerda {
    padding-right: 70px;
    padding-top: 0px;
}

button {
    font-size: 25px;
    
    background-color: #1A1818;

    border: solid 7px #1A1818;
    border-radius: 8px;
}

button > a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #F190A3;
    transform: scale(1.2);
    transition: 1s ease;
}

.botao {
    padding-top: 20px;
    padding-left: 80px;
}

.local {
    padding-right: 420px;
    padding-top: 30px;
}

.local > img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}