.text-grande {
    color: #1A1818;
    margin: 0px;
}

.text-medio {
    padding-top: 17px;
}

h1 {
    font-weight: 500;
    font-size: 40px;
    margin: 0px;
}

p, ul {
    line-height: 1,2px;
    font-size: 17px;
    margin: 0px;
}

.paragrafos {
    padding: 15px;
}

h2 {
    font-size: 22px;
    text-decoration: underline;
}

.esquerda {
    padding-right: 520px;
}

.botao {
    padding-top: 10px;
}

button {
    font-size: 25px;
    color: white;
    background-color: #1A1818;

    border: solid 12px #1A1818;
    border-radius: 8px;
}